body {
    font-family: Arial, sans-serif;
  }
  
  
  table {
    border-collapse: collapse;
    margin-top: 20px;
    box-sizing: border-box;
  }
  
  td {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    box-sizing: border-box;
  }
  