body {
  font-family: 'Times New Roman', Times, serif;
}

/*position*/
.position1 {
  width: 200px;
  height: 200px;
  background-color: grey;
  position: relative; 
  left: 20px;
  border-radius: 50%;
  display: inline-block;
}

[class^="circle"] {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
}

.circle9 {
  position:absolute;
  bottom: 33%;
  right: 33%;
  width: 70px;
  height: 70px;
}

.circle1 { bottom: 88%; right: 38%;}
.circle2 { top: 5px; right: 0%;}
.circle3 { bottom: 37%; right:-12%;}
.circle4 { bottom: 5px; right: 3%; }
.circle5 { top: 88%; right: 38%;}
.circle6 { bottom: 5px; left: 3%;}
.circle7 { bottom: 37%; left: -12%;}
.circle8 { top: 5px; left: 3%; }

/*transform*/
.transform{
  width: 200px;
  height: 200px;
  background-color:grey;
  transform: translate(5px,5px);
  display: inline-block;
  margin-left: 50px; 
  border-radius: 50%;
}
.center{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(253, 253, 253);
  transform: translate(92%,90%) ;
}
[class^="dot"] { 
  width: 50px; 
  height: 50px; 
  background-color: rgb(255, 255, 255); 
  border-radius: 50%; 
  top: 35%; left: 40%;
  position: absolute; }

  .dot1 { transform: rotate(0deg) translate(90px); } 
  .dot2 { transform: rotate(45deg) translate(100px); } 
  .dot3 { transform: rotate(90deg) translate(100px); } 
  .dot4 { transform: rotate(135deg) translate(105px); } 
  .dot5 { transform: rotate(180deg) translate(100px); } 
  .dot6 { transform: rotate(225deg) translate(100px); } 
  .dot7 { transform: rotate(270deg) translate(95px); } 
  .dot8 { transform: rotate(315deg) translate(95px); }
